@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
    padding: 25px 0;
    width:1180px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap: 32px;
    font-family: "Inter", serif;
}
.item{
    width: 372px;
    text-align: center;
}
.item img{
    width: 100%;
}
.item h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    padding: 20px 0 15px 0;
}
.item p{
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color: #3C3C43;

}
