@media screen and (min-width: 769px) and (max-width: 1279px) {
    .container{
        width: 720px;
        padding: 32px 0;
    }
    .item{
        width: 218px;
    }
    .box{
        position: relative;
        top: 12px;
    }
}