.pink-box {
    width: 300px;
    height: 300px;
    background-color: pink;
    margin: 100px auto 0 auto;
    animation:lorem 5s linear infinite alternate;
}

@keyframes lorem {
    from {
        /*transform: scale(1.5) rotate(60deg);*/
        transform: translate(300px, 300px);
    }
    to {
        /*transform: scale(1) rotate(0deg);*/
        transform: skew(0deg);
        background-color: yellow;
    }
}