label{
    margin-top: 10px;
    display: block;
}
form sup{
    color: red;
}
textarea{
    resize: none;
    width: 200px;
}
.form-registration{
    border: 3px solid green;
    width: 30%;
    border-radius: 20px;
    padding: 50px;
}
input[type="text"]{
    background: lightblue;
    border: 2px solid green;
    border-radius: 10px;
    color: #441818;
    font-family: sans-serif;
}
input[type="text"]::placeholder{
    color: red;
}
input[type="text"]:focus{
    outline: 3px solid orange;
}
