* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 135px;
}
.cards{
    width: 319px;
    height: 492px;
    background: #D9D9D94D;
    border: 4px solid #554C4C;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    width: 100px;
    height: 100px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: -50px;
}
h2{
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
}
p{
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    width: 211px;
}
.green-card{
    border: 4px solid #65856E
}