*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr 1.5fr;
    grid-template-rows:0.5fr 2fr 2fr 0.7fr;
    grid-template-areas:
    "nav nav nav"
    "section-1 section-2 aside-1"
    "section-1 section-2 aside-2"
    "footer footer footer";
}
nav{
    grid-area: nav;
    background: #D9D9D9;
}
.section-1{
    grid-area: section-1;
    background: #A4A4A4;
}
.section-2{
    grid-area: section-2;
    background: #C1C1C1;
}
.aside-1{
    grid-area: aside-1;
    background: #7F7A7A;
}
.aside-2{
    grid-area: aside-2;
    background: #6B6161;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}