* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #142823;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards {
    padding: 9px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.card {
    width: 245px;
    height: 291px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.10);
    position: relative;
}

.highly-rated {
    position: absolute;
    top: -30px;
}

.title-card {
    color: #282828;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blue-price {
    color: #106FDF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.red-price {
    color: #DD152D;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding: 9px 0;
}