@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E1E1E;
}

.w-1340 {
    width: 1340px;
    margin: 0 auto;
}

nav {
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}

ul a {
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}

.nav__active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
}
.header-title{
    width: 1255px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
}
/*.header-img{*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*}*/
.burgers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px auto;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1340px;
    height: 369px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
}
h2{
    width: 533px;
    color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
}
p{
    width: 521px;
    height: 75px;
    color: #1E1E1E;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
    margin-bottom: 34px;
}
button{
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    width: 176px;
    height: 60px;
    flex-shrink: 0;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;

    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;
}
.main__div{
    margin-left: 28px;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
.food3{
    margin-top: 64px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px auto 36px auto;
}
.photo__img{
    display: flex;
    gap: 40px;
}
h3{
    width: 895px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer__button{
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    width: 196px;
    height: 60px;
    background: #D1EF53;
}
