@media screen and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }

    body {
        font-size: 10px;
    }

    main, aside {
        width: 100%;
    }

    main {
        height: 60vh;
    }

    header, footer, aside {
        height: 10vh;
    }

    section {
        width: 100%;
        height: 10vh;
        background: blue;
        display: block;
    }

    header p::after {
        content: "mobile";
    }
}