* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

header, footer {
    width: 100%;
    height: 20vh;
    background: grey;
}

.wrapper {
    width: 100%;
    display: flex;
}

main {
    height: 60vh;
    width: 70%;
    background: saddlebrown;
}

aside {
    height: 60vh;
    width: 30%;
    background: green;
}

section {
    display: none;
}

header p::after {
    content: "desktop";
}

main, aside, footer {
    font-size: 1.5em;
}
