* {
    margin: 0;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

main {
    height: 85vh;
    display: flex;
}

.section1 {
    height: 86vh;
    width: 29vw;
    background: #A4A4A4;
}

.section2 {
    height: 86vh;
    width: 31vw;
    background: #C1C1C1;
}

.aside1 {
    width: 40vw;
    height: 43vh;
    background: #7F7A7A;
}

.aside2 {
    width: 40vw;
    height: 43vh;
    background: #6B6161;
}
footer {
    height: 10vh;
    background: #D9D9D9;
}