body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

.card {
    width: 200px;
    height: 250px;
    background: lightslategray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale {
    width: 75px;
    height: 45px;
    background: lightslategray;
    position: absolute;
    top: -20px;
    border-radius: 20px 20px 0 0;
}
.sale-bottom{
    width: 75px;
    height: 45px;
    background: lightslategray;
    position: absolute;
    bottom: -20px;
    border-radius: 0 0 20px 20px;
}