*{
    margin: 0;
}
header{
    height: 5vh;
    background: #D9D9D9;
}
main{
    height: 73vh;
    width: 100%;
    display: flex;
}
section{
    width: 59vw;
    background: #A4A4A4;
}
.box1{
    height: 40vh;
    width:41vw;
    background: #7F7A7A;
}
.box2{
    height: 33vh;
    width: 41vw;
    background: #615050;
}
footer{
    height: 22vh;
}
.div1{
    height: 10vh;
    background: #D9D9D9;
}
.div2{
    height: 12vh;
    background: #AFA9A9;
}

