@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1E1E1E;
}

.box-1340 {
    width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    padding-top: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 59px;
    list-style: none;
}

a {
    text-decoration: none;
    width: 69px;
    height: 17px;
    top: 57px;

    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    color: #E9E3DC;
}

button {
    width: 203px;
    height: 60px;
    background: #B3A0CD;

    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 97%;
    text-transform: uppercase;
    border: none;
}

h1 {
    width: 1255px;
    height: 285px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 107.09px;
    leading-trim: NONE;
    line-height: 89%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
    margin: 74px auto 33px auto;
}

main {
    width: 1340px;
    height: 369px;
    top: 916px;
    left: 50px;
    angle: 0deg;
    opacity: 1;
    border-width: 4px;
    border-radius: 30px;
    background: #D1EF53;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 33px;

}

h2 {
    width: 533px;
    height: 186px;
    top: 1014px;
    left: 159px;
    angle: 0deg;
    opacity: 1;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 70px;
    leading-trim: NONE;
    line-height: 89%;
    text-transform: uppercase;
}

p {
    width: 521px;
    height: 75px;
    top: 1016px;
    left: 720px;
    angle: 0deg;
    opacity: 1;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    color: #1E1E1E;
    margin-bottom: 40px;
}

.main_button {
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;

    width: 176px;
    height: 60px;
    angle: 0deg;
    opacity: 1;
    background: #E9E3DC;
    border: 4px solid #1E1E1E;

    box-shadow: 8px 8px 0 0 #000;
}

.photo {
    margin-top: 33px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.people_img {
    margin-top: 33px;
}

h3 {
    width: 895px;
    height: 142px;
    top: 2733px;
    left: 273px;
    angle: 0deg;
    opacity: 1;


    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 70px;
    leading-trim: NONE;
    line-height: 102%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
    margin-top: 33px;
}

.get-started_button {
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
    background: #D1EF53;
    width: 196px;
    height: 60px;
    top: 2908px;
    left: 623px;
    angle: 0deg;
    opacity: 1;
    margin: 33px auto 33px auto;


}