@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
    font-family: 'Inter', sans-serif;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    gap: 32px;
}
.item{
    width: 271px;
}
.item h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
    color: #161543;
    padding: 20px 0 10px 0;
}
.item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7687A1;
}