.box {
    width: 300px;
    height: 300px;
    border: 1px solid;
}
.item-1{
    background-color: #d03f0c;
}
.item-2{
    background-color: #5454D4;
}
.item-3{
    background-color: #2d592d;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .item-1{
        background-color: #9ce19c;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .item-2{
        background-color: red;
    }
    .item-3{
        background-color: #19191B;
    }
}