body {
    height: 100vh;
    margin: 0;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
}

.form-registration {
    width: 33vw;
    height: 50vh;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 190, 190, 0.58);
    height: 25%;
}

.box-1 h3 {
    font-size: 26px;
    font-weight: 400;
}

.form-registration form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    height: 30px;
    margin: 15px;
}

.box-2 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

input[type="submit"] {
    background-color: rgba(94, 190, 190, 0.58);
    border-radius: 10px;
    border: 1px solid gray;
    width: 80px;
    height: 25px;

}