body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}
.card{
    width: 200px;
    height: 250px;
    background: lightslategray;
    position: relative;
}
.sale{
    width: 75px;
    height: 45px;
    background: lightcoral;
    position: absolute;
    top: -20px;
    left: -25px;
}