*{
    margin:0;
}
header,footer{
    height:22vh;
    background: #D9D9D9;
}
aside{
    width:27vw;
    background: #C0BDBD;
}
section{
    width:46vw;
    background: #A4A4A4;
}
main{
    height:56vh;
    display: flex;
}