.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-1 {
    width: 60%;
    border: 2px solid grey;
    height: 850px;
    margin: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.instagram {
    font-size: 100px;
    font-family: Pacifico, sans-serif;
    margin-top: 120px;
}

input[type="text"], input[type="password"] {
    width: 700px;
    height: 70px;
    font-size: 25px;
    padding-left: 15px;
}
.text{
    margin-top: 50px;
    margin-bottom: 20px;
}
.password{
    margin-bottom: 30px;
}
button {
    border-radius: 10px;
    color: white;
    background-color: #7b7bee;
    border: 1px solid;
    width: 720px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
}
.or{
    font-size: 30px;
    color: grey;
    font-weight: bold;
    margin-top: 20px;
}
.photo{
    width: 26px;
    height: 26px;
    margin-right: 8px;
}
.box-2{
    margin-top: 40px;
}
.facebook{
    font-size: 30px;
    font-weight: bold;
    color: #272777;
}
.forgot-password{
    font-size: 30px;
    color: #272777;
    margin-top: 20px;
}
.box-3{
    border: 2px solid grey;
    height: 100px;
    width: 60%;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 30px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #272777;
}
#registration{
    color: #7b7bee;
}
