body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation img{
    height: 100px;
}
.animation{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.boat{
    animation: boat 2s alternate infinite ease-in-out;
}
@keyframes boat {
    0%{
        transform: translate(0,0);
    }
    10%{
        transform: translate(30px,15px);
    }
    20%{
        transform: translate(60px,-15px);
    }
    30%{
        transform: translate(90px,15px);
    }
    40%{
        transform: translate(120px,-15px);
    }
    50%{
        transform: translate(150px,15px);
    }
    60%{
        transform: translate(180px,-15px);
    }
    70%{
        transform: translate(210px,15px);
    }
    80%{
        transform: translate(240px,-15px);
    }
    90%{
        transform: translate(270px,15px);
    }
    100%{
        transform: translate(300px,-15px);
    }
}
.wave{
    animation: wave 2s alternate infinite ease-in-out;
}
@keyframes wave {
    from{
        transform:skew(30deg);
    }
    50%{
        transform:scale(1.3);
    }
    to{
        transform:skew(-30deg);
    }
}