@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
    "header header"
    "right-aside left-aside"
    "main main"
    "footer footer";
    }
}