/*
1000б - inline
100б - id
10б - class
1б -  tag
*/
body p.lorem{
    color: orange;
}
p.text{
    color: #9ce19c;
}
p{
    color: red;
}
section p.lorem{
    color: #1b4488;
}
section div p.text{
    color: greenyellow;
}
section div.box p.pink{
    color: darkorchid;
}