* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 113px;
    background: #24204A;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    width: 1153px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

header p {
    color: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    opacity: 0.6;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 63px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    opacity: 0.6;
}

.banner {
    width: 100%;
    background: #24204A;
    padding: 180px 0 101px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    margin-right: 208px;
}

.button-1 {
    width: 145px;
    height: 41px;
    opacity: 1;
    border-radius: 8px;
    background: #4B4864;
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.8px;
    color: #8E88C1;
}

h1 {
    width: 261px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    padding: 40px 0;

}

.text-1 {
    width: 570px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.8px;
    color: #8E88C1;
    padding-bottom: 30px;
}

.button-2 {
    width: 200px;
    height: 56px;
    top: 508px;
    left: 115px;
    opacity: 1;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 #00FFE033;
    border: none;

    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.photo {
    width: 375px;
    height: 411px;
    opacity: 1;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 100%;
    height: 764px;
    background: #071341;
}

.lorem-text {
    width: 56.143959045410156px;
    height: 56px;
    border-radius: 8px;
    background: #FF6853;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
    background: #FF537C;
}

.box-3 {
    background: #80D2C4;
}

.box-4 {
    background: #3F50E7;
}

.box-5 {
    background: #95CB7C;
}

.text-2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.text-3 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #8E88C1;

}

.lorem {
    width: 1153px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 125px;
    padding-top: 30px;
}

.part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1153px;
}

.lorem-text-2 {
    margin-left: 20px;
}

h3 {
    width: 1074px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 70px;
}

.text-4 {
    color: #8E88C1;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 50px;
}
.cards-more{
    width: 1153px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}
.cards {
    /*width: 1153px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
}

.card {
    border: 2px solid #8E88C1;
    width: 209px;
    height: 206px;
    opacity: 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.one-posotion {
    width: 178px;
    margin-top: 30px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #8E88C1;

}

.sun{
    margin-top: -40px;
}

iframe{
    width: 100%;
    height: 664px;
    display: block;
}
footer{
    background: #071341;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.p-footer{
    color: #FFFFFF;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}



