@media screen and (max-width: 480px) {
    .circle-left, .circle-right {
        display: none;
    }

    .page-not-found {
        padding: 0 16px;
    }

    .page-not-found h2 {
        font-weight: 700;
        font-size: 110px;
        line-height: 82px;
        letter-spacing: -0.5px;
        color: #FFFFFFE5;
    }

    .page-not-found h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFFE5;
        margin: 16px 0 8px 0;
    }

    .page-not-found p {
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFFBF;
    }
    .page-not-found div {
        padding-top: 24px;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .page-not-found div button:nth-child(1){
        width: 100%;
        height: 64px;
        padding-right: 24px;
        padding-left: 24px;
        gap: 8px;
        opacity: 1;
        border-radius: 32px;
        background: #6F1DF4;

        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        vertical-align: middle;
        color: #FFFFFF;

    }
    .page-not-found div button:nth-child(2) {
        width: 100%;
        height: 64px;
        padding-right: 24px;
        padding-left: 24px;
        gap: 8px;
        opacity: 1;
        border-radius: 32px;
        background: #FFFFFF;

        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        vertical-align: middle;
        color: #000000;

    }
}