@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}
.wrapper-page-not-found {
    background-color: #161622;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-left {
    width: 396px;
    height: 396px;
    flex-shrink: 0;
    border-radius: 396px;
    border: 48px solid #6F1DF4;
    opacity: 0.5;

    position: absolute;
    top: -210px;
    left: -200px;
}

.circle-right {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 260px;
    opacity: 0.5;
    border: 48px solid #6F1DF4;

    position: absolute;
    top: -20px;
    right: -120px;
}

.page-not-found {
    text-align: center;
}

.page-not-found h2 {
    font-weight: 700;
    font-size: 180px;
    line-height: 140px;
    letter-spacing: -0.5px;
    color: #FFFFFFE5;
}

.page-not-found h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.25px;
    text-align: center;
    color: #FFFFFFE5;
    margin: 30px 0 24px 0;
}

.page-not-found p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFFBF;
    width: 533px;
    opacity: 1;
}

.page-not-found div button:nth-child(1) {
    width: 212px;
    height: 64px;
    opacity: 1;
    gap: 8px;
    padding-right: 48px;
    padding-left: 48px;
    border-radius: 32px;
    background: #6F1DF4;

    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;

}

.page-not-found div button:nth-child(2) {
    width: 168px;
    height: 64px;
    opacity: 1;
    gap: 8px;
    padding-right: 48px;
    padding-left: 48px;
    border-radius: 32px;
    background: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #000000;

}

.page-not-found div {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 40px;
}