* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 113px;
    background: #24204A;
    box-shadow: 0 4px 4px 0 #00000040;
    position: fixed;
    top: 0;
}

.header__W-1153px {
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 0.6;
}

header h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #E5E5E5;
    opacity: 0.6;
}

.one-posotion {
    height: 692px;
    background: #24204A;
    padding: 180px 0 101px 0;
    box-sizing: border-box;
}

.one-posotion__W-1153px {
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-posotion__W-1153px div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.one-posotion__W-1153px .one-position {
    width: 145px;
    height: 41px;
    top: 198px;
    left: 115px;
    angle: 0deg;
    opacity: 1;
    border-radius: 8px;
    background: #4B4864;
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0.8px;
    color: #8E88C1;
}

.one-posotion__W-1153px h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    width: 261px;
}

.one-posotion__W-1153px p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0.8px;
    color: #8E88C1;
    width: 570px;
}

.one-posotion__W-1153px .button-about {
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 #00FFE033;
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.one-posotion__W-1153px div:nth-child(2) {
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lorem-ipsum {
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
}

.w-1154-lorem-ipsum {
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.icon div:nth-child(1) {
    width: 56.143959045410156px;
    height: 56px;
    top: 742px;
    left: 115px;
    border-radius: 8px;
    angle: 0deg;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:nth-child(1) div:nth-child(1) {
    background: #FF6853;
}

.icon:nth-child(2) div:nth-child(1) {
    background: #FF537C;
}

.icon:nth-child(3) div:nth-child(1) {
    background: #80D2C4;
}

.icon:nth-child(4) div:nth-child(1) {
    background: #3F50E7;
}

.icon:nth-child(5) div:nth-child(1) {
    background: #95CB7C;
}

.icon div:nth-child(2) h4 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.icon div:nth-child(2) p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #8E88C1;
}

.w-1154-lorem-ipsum h2 {
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin: 50px 0;

}

.w-1154-lorem-ipsum > p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #8E88C1;
    margin-bottom: 50px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    opacity: 1;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}

.card p {
    width: 178px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #8E88C1;
}
iframe{
    width: 100%;
    height: 664px;
}
footer {
    width: 100%;
    height: 94px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 200%;
    color: #FFFFFF;
}

